<div class="aboutme animate">
  <img
    nz-image
    width="50%"
    height="50%"
    nzSrc="https://lipamar.github.io/linden-photography/assets/aboutme.jpg"
    alt="'me'"
  />
  <div class="sections">
    <span>
      Hejka! Jestem Ania i bardzo mi miło, że postanowiłaś/eś tutaj wpaść!
    </span>
    <span>
      Odkąd zrozumiałam, że fotografia to moja pasja, zajmuję się nią na okrągło
      i ciągle się rozwijam. Tak trafiłam do Akademii Fotografii w Krakowie.
      Aktualnie jestem w trakcie robienia projektu dyplomowego.
    </span>
    <span>
      Uwielbiam uwieczniać ważne chwile z Waszego życia. Jestem miłośniczką
      światła studyjnego, jednak plenery to żaden problem. Nieszablonowe sposoby
      ukazania Was i Waszych emocji to coś, co coraz bardziej może opisywać moje
      prace, do tego dążę. Na zdjęciach staram się pokazać radość, miłość,
      pewność siebie.
    </span>
    <span>
      Mieszkam w Korzeniowie (to mała miejscowość położona w połowie drogi
      między Dębicą a Mielcem – na Podkarpaciu). Tutaj też działam najwięcej,
      jednak odległość nie stanowi dla mnie problemu.
    </span>
    <span>
      Jestem fanką gór, sportu oraz dobrego swojskiego wina. Marzę o
      zagranicznych podróżach oraz tańszych karnetach na siłkę. Mówią, że
      szczęścia nie można kupić, ale za to zapraszam do współpracy ze mną!🙂
    </span>
  </div>
</div>
