<div class="content animate">
  <form [formGroup]="form">
    <div class="d-flex flex-column">
      <p>Nareszcie nadeszła pora na ciebie!</p>
      <p>Bardzo się cieszę i czekam niecierpliwie na twój formularz!</p>
      <div class="d-flex justify-content-center">
        <div class="form-items">
          <div class="d-flex flex-row">
            <app-form-input formControlName="email">E-mail</app-form-input>
            <app-form-input formControlName="phoneNr">Numer telefonu</app-form-input>
          </div>
          <div class="d-flex flex-row">
            <app-form-input type="textarea" formControlName="topic">Temat zapytania</app-form-input>
          </div>
          <div class="d-flex flex-row">
            <app-form-input formControlName="name">Imię i nazwisko</app-form-input>
            <p-button styleClass="p-button-secondary" (click)="submitForm()">Wyślij formularz</p-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
