.content {
  width: 70%;
  margin: 50px auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > div {
  width: 65%;
}

.container > div > * {
  margin: 0 10px;
}

.name, .contact {
  display: flex;
  flex-direction: row;
}

p {
  text-align: center;
  font-size: 40px;
}

app-form-input {
  flex-grow: 1;
}

mat-form-field {
  width: 100%;
}
