<div class="content">
  <form [formGroup]="form">
    <div class="container">
      <p>Nareszcie nadeszła pora na ciebie!</p>
      <p>Bardzo się cieszę i czekam niecierpliwie na twój formularz!</p>
      <div class="name">
        <app-form-input formControlName="firstName">Imię</app-form-input>
        <app-form-input formControlName="lastName">Nazwisko</app-form-input>
      </div>
      <div class="topic">
        <mat-form-field appearance="outline">
          <mat-label>Temat zapytania</mat-label>
          <textarea formControlName="topic" matInput></textarea>
        </mat-form-field>
      </div>
      <div class="contact">
        <app-form-input formControlName="email">E-mail</app-form-input>
        <app-form-input formControlName="phoneNr">Numer telefonu</app-form-input>
      </div>
      <button (click)="sendForm()" mat-raised-button color="accent">Wyślij formularz</button>
    </div>
  </form>
</div>
