@import "./../../../../assets/scss/variables.scss";

.content {
  width: 70%;
  margin: 50px auto;

  p {
    text-align: center;
    font-size: 40px;
    font-family: $font-family;
  }

  .p-float-label {
    flex-grow: 1;
  }

  .form-items {
    width: 70%;

    div > * {
      margin: 0.69rem;
    }
  }
}

