// colors
$dark-gray: #505051;
$hover-dark-gray: rgba(80, 80, 81, 0.5);
$light-gray: #f9f5f1;
$bg-white: #fff;

// font
$font-color: $dark-gray;
$font-color-hover: $hover-dark-gray;
$font-family: "Gabriola", sans-serif;
$font-size: 20px;
$font-weight: 100;
