@import "./../../../assets/scss/variables.scss";

.header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem 1rem;

  img {
    width: 150px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

::ng-deep.nav-button {
  background-color: $bg-white !important;
  color: $font-color !important;
  text-align: left !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 1rem 1rem !important;
  width: 100% !important;

  &:enabled &:hover,
  &:focus,
  &:visited,
  &:focus-within,
  &:focus-visible,
  &:active,
  &:target,
  &:enabled:hover {
    color: $font-color-hover !important;
    background-color: $bg-white !important;
  }
}
