<div routerLink="/home" class="header animate">
  <img src="https://i.ibb.co/C9gktJh/logo.png" alt="logo" />
</div>

<div class="menu animate">
  <ng-container *ngFor="let item of menu; index as i">
    <p-button
      styleClass="p-button-text p-button-sm"
      [label]="item.label"
      [routerLink]="item.routerLink"
    />
    <ng-component *ngTemplateOutlet="dropdown; context: { options: item.options}" />
  </ng-container>
</div>

<ng-template #dropdown let-options="options">
  <div class="dropdown">
    <ng-container *ngFor="let item of options; index as i">
      <p-button
        styleClass="p-button-text p-button-sm"
        [label]="item.label"
        [routerLink]="item.routerLink"
      />
    </ng-container>
  </div>
</ng-template>
