@import "./../../../assets/scss/variables.scss";

.menu {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 2rem;

  img {
    width: 150px;
    margin: 0 2rem;
  }
}
