<div routerLink="/home" class="header">
  <img src="./../../../assets/logo.png"/>
</div>

<div class="menu">
  <button mat-button routerLink="/home">Home</button>
  <button mat-button [matMenuTriggerFor]="portfolio">Portfolio</button>
  <button mat-button>O mnie</button>
  <button mat-button>Strefa klienta</button>
  <button mat-button routerLink="/contact">Kontakt</button>
</div>

<mat-menu #portfolio="matMenu" yPosition="below" class="dropdown">
  <button mat-menu-item>Sesja Portretowa</button>
  <button mat-menu-item>Chrzest Święty</button>
  <button mat-menu-item>Urodziny/Osiemnastka</button>
  <button mat-menu-item>Studiówka/Półmetek</button>
  <button mat-menu-item>Komunia Święta</button>
</mat-menu>
