@import "./../../../assets/scss/variables.scss";

.header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem 1rem;

  img {
    width: 150px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

