<span class="p-float-label">
  <ng-container *ngTemplateOutlet="inputByType"></ng-container>
  <label><ng-content></ng-content></label>
</span>

<ng-template #inputByType [ngSwitch]="type">
  <ng-container *ngSwitchCase="'textarea'">
    <textarea class="w-100" [rows]="5" [autoResize]="true"  pInputTextarea [(ngModel)]="value" (ngModelChange)="onChange($event)"></textarea>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <input class="w-100" pInputText [(ngModel)]="value" (ngModelChange)="onChange($event)"/>
  </ng-container>
</ng-template>
