@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

$font-color: #505051;
$font-color-hover: rgba(80, 80, 81, 0.5);
$font-size: 20px;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.p-dropdown {
  outline: none;
  box-shadow: none;
  border: none;
}

.p-dropdown .p-dropdown-trigger {
  display: none;
}

.p-dropdown-label,
.p-button-label {
  font-family: "Gabriola", sans-serif !important;
  font-size: $font-size;
  font-weight: 100;
}

.p-dropdown,
.p-button.p-button-text {
  padding: 0;
  color: $font-color;
  outline: none;
  box-shadow: none;
  border: none;
  font-weight: 100;

  &:enabled &:hover,
  &:focus,
  &:visited,
  &:focus-within,
  &:focus-visible,
  &:active,
  &:target,
  &:enabled:hover {
    color: $font-color-hover;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
  }
}
