// variables
@import "/src/assets/scss/variables.scss";

// bootstrap
@import "/src/assets/scss/boostrap.scss";

// primeNg
@import "/src/assets/scss/primeng.scss";

html,
body,
app-root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display:flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;

  .p-component * {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;

    &:not(&:hover, &:focus, &:visited, &:focus-within, &:focus-visible, &:active, &:target) {
      color: $font-color;
    }
  }
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  background: none;
}

.nav-button {
  background-color: white;
  color: $font-color;
  text-align: left;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0 1rem 1rem;
  width: 100%;

  &:enabled &:hover,
  &:focus,
  &:visited,
  &:focus-within,
  &:focus-visible,
  &:active,
  &:target,
  &:enabled:hover {
    color: $font-color-hover;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: white;
  }
}
