<div class="container w-75">
  <app-photo-gallery *ngIf="$portret | async; let images" [images]="images" #portret>Sesja Portretowa
  </app-photo-gallery>
  <app-photo-gallery *ngIf="$chrzest | async; let images" [images]="images" #chrzest>Chrzest Święty</app-photo-gallery>
  <app-photo-gallery *ngIf="$urodziny | async; let images" [images]="images" #urodziny>Urodziny/Osiemnastka
  </app-photo-gallery>
  <app-photo-gallery *ngIf="$studniowka | async; let images" [images]="images" #studniowka>Studiówka/Półmetek
  </app-photo-gallery>
  <app-photo-gallery *ngIf="$komunia | async; let images" [images]="images" #komunia>Komunia Święta</app-photo-gallery>
</div>
