<p-galleria
  [value]="images"
  [showItemNavigators]="true"
  [showThumbnails]="false"
  [showIndicators]="true"
  [changeItemOnIndicatorHover]="true"
  [showIndicatorsOnItem]="true"
  [circular]="true"
  [autoPlay]="true"
  [indicatorsPosition]="'top'"
  [transitionInterval]="5000"
  [circular]="true"
  [containerStyle]="{ 'height': '75vh', width: '100vw' }"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.itemImageSrc" style="height: 75vh; width: 100%; 
    object-fit: cover;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" style="display: block" />
    </div>
  </ng-template>
</p-galleria>
