<footer>
  <div>
    <a href="https://www.facebook.com/LindenPhotography55" target="_blank">
      <fa-icon [icon]="faFacebookSquare"></fa-icon>
      LindenPhotography</a>
  </div>
  <div>
    <a href="https://www.instagram.com/lindenphotography_" target="_blank">
      <fa-icon [icon]="faInstagramSquare"></fa-icon>
      lindenphotography_</a>
  </div>
  <div>
    <fa-icon [icon]="faEnvelope"></fa-icon>
    anialipa.fot@gmail.com
  </div>
  <div>
    <fa-icon [icon]="faSquarePhone"></fa-icon>
    881 399 260
  </div>
</footer>
