Linden Photography
Anna Lipa

Home		Portfolio		O mnie		Strefa klienta		Kontakt
- Sesja Portretowa
- Chrzest Święty
- Urodziny/Osiemnastka
- Studiówka/Półmetek
- Komunia Święta






W ZAKŁADCE HOME – tylko wybrane zdjęcia, przesuwające się

W ZAKŁADCE PORTFOLIO – dodane zdjęcia, które są ustawione w trzech kolumnach z możliwością podglądu

W ZAKŁADCE O MNIE – jedno główne zdjęcie, a obok niego opis


Hejka! Jestem Ania i bardzo mi miło, że postanowiłaś/eś tutaj wpaść!

Odkąd zrozumiałam, że fotografia to moja pasja, zajmuję się nią na okrągło i ciągle się rozwijam. Tak trafiłam do Akademii Fotografii w Krakowie. Aktualnie jestem w trakcie robienia projektu dyplomowego.
Uwielbiam uwieczniać ważne chwile z Waszego życia. Jestem miłośniczką światła studyjnego, jednak plenery to żaden problem.
Nieszablonowe sposoby ukazania Was i Waszych emocji to coś, co coraz bardziej może opisywać moje prace, do tego dążę. Na zdjęciach staram się pokazać radość, miłość, pewność siebie.
Mieszkam w Korzeniowie (to mała miejscowość położona w połowie drogi między Dębicą a Mielcem – na Podkarpaciu). Tutaj też działam najwięcej, jednak odległość nie stanowi dla mnie problemu.
Jestem fanką gór, sportu oraz dobrego swojskiego wina. Marzę o zagranicznych podróżach oraz tańszych karnetach na siłkę.
Mówią, że szczęścia nie można kupić, ale za to zapraszam do współpracy ze mną!



W ZAKŁADCE STREFA KLIENTA  - galeria online

W ZAKŁADCE KONTAKT – formularz do wysłania -

Tekst nad formularzem –
Nareszcie nadeszła pora na ciebie! Bardzo się cieszę i czekam niecierpliwie na twój formularz!

W formularzu:
Imię 	Nazwisko
Temat zapytania
Data
E-mail 	Numer telefonu


Na dole strony linki do fb i ig, mail, telefonu

Facebook - https://www.facebook.com/LindenPhotography55
Instagram - https://www.instagram.com/lindenphotography_/
E-mail – anialipa.fot@gmail.com
Telefon – 881 399 260

Izka UwU
